@import "@size";

#storybook-board {
  padding: size(5);
  grid-area: board;
  display: flex;
  flex-direction: column;

  &-title {
    text-align: center;
    margin-bottom: size(4);
  }

  &-component {
    background-color: rgb(var(--contrast-1));
    padding: size(6);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    flex-grow: 1;
  }
}
