@import "../../scss/functions/size";

/* [class="input"] */

.input {
  font-size: 14px;
  appearance: none;
  border: 2px solid rgba(var(--text-color), 0.1);
  background-color: transparent;
  display: flex;
  text-align: left;
  padding: size(8);
  border-radius: calc(var(--radius) / 2);

  &::placeholder {
    opacity: 0.5;
    font-style: italic;
  }

  &:focus:not([type="radio"], [type="checkbox"]) {
    border-color: rgba(var(--primary), 0.7);
    background-color: rgb(var(--body));
  }

  &[type="radio"] {
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      border-color: rgba(var(--primary), 0.5);

      &::before {
        background-color: rgb(var(--primary));
        width: 10px;
        aspect-ratio: 1;
        border-radius: 100%;
        content: "";
        display: inline-flex;
      }
    }
  }

  &[type="number"] {
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &-label {
    display: flex;
    column-gap: size(8);
    align-items: center;

    & + .input-label {
      margin-top: size(8);
    }
  }

  &.select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23b1b9c9' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      right size(10) center;
    background-size: 8px;
    background-repeat: no-repeat;
  }

  &.switch {
    padding: 0;
    border-radius: calc(var(--radius) * 2);
    aspect-ratio: 2;
    height: 24px;
    position: relative;
    transition: 0.2s all ease-in-out;
    border: none;
    padding: 4px;
    background-color: rgba(var(--primary), 0.1);

    &::before {
      content: "";
      display: flex;
      border-radius: 100%;
      aspect-ratio: 1;
      height: 100%;
      position: relative;
      left: 0;
      transition: 0.2s all ease-in-out;
      background-color: rgb(var(--primary));
      border: 1px solid rgba(var(--contrast-1), 0.5);
    }

    &:checked {
      background-color: rgba(var(--primary), 0.5);

      &::before {
        left: calc(100%);
        transform: translateX(-100%);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
