@import "@size";

.storybook-control-center {
  background-color: rgb(var(--contrast-1));
  max-height: 40vh;

  &-form {
    overflow: scroll;
    max-height: 100%;
  }

  .table {
    padding: 0 size(4);
    width: 100%;
    table-layout: fixed;

    &-header-group {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: rgb(var(--contrast-1));
      box-shadow: var(--shadow);
    }

    &-header {
      text-align: start;
      padding: size(4) size(3);
    }

    &-row {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(var(--text-color), 0.1);
      }
    }

    &-cell {
      padding: size(4) size(3);
    }

    .input:not([type="radio"]) {
      width: 50%;
    }
  }
}
