@import "@size";

.storybook-control-center {
  background-color: rgb(var(--contrast-1));
  max-height: 40vh;
  padding: 0 size(4);

  &-form {
    overflow: scroll;
    max-height: 100%;
  }

  .table {
    width: 100%;
    table-layout: fixed;

    &-header-group {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: rgb(var(--contrast-1));
      box-shadow: var(--shadow);
    }

    &-header {
      padding: {
        top: size(4);
        bottom: size(4);
      }
    }

    &-row {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(var(--text-color), 0.1);
      }

      > .table-cell {
        &:last-child > .input {
          margin: {
            right: auto;
            left: auto;
          }
        }
      }
    }

    &-cell {
      padding: {
        top: size(6);
        bottom: size(6);
      }
    }

    .input:not([type="radio"]) {
      width: 50%;
    }
  }
}
