@import "@spacing";

.button {
  --button-variant: unset;

  display: inline-flex;
  column-gap: spacing(12);
  padding: 0.7em;
  background-color: var(--button-background, none);
  border-radius: var(--border-radius-default);
  transition: var(--transition-default) background-color;

  &:hover {
    cursor: pointer;
  }

  &.size {
    &-small {
      font-size: 0.8em;
    }

    &-large {
      font-size: 1.2em;
    }
  }

  &.style {
    &-filled {
      --button-background: rgb(var(--button-variant));

      &:hover {
        --button-background: rgba(var(--button-variant), 0.7);
      }
    }

    &-outlined {
      border: {
        color: rgb(var(--button-variant));
        style: solid;
        width: 1px;
      }

      &:hover {
        --button-background: rgb(var(--button-variant));
      }
    }

    &-transparent {
      &:hover {
        --button-background: rgba(var(--button-variant), 0.2);
      }
    }
  }

  &.variant {
    &-primary {
      --button-variant: var(--color-primary);
    }

    &-info {
      --button-variant: var(--color-info);
    }

    &-warning {
      --button-variant: var(--color-warning);
    }

    &-success {
      --button-variant: var(--color-success);
    }

    &-danger {
      --button-variant: var(--color-danger);
    }
  }
}
