@import "@functions/section";
@import "../../scss/default-variants";

.button {
  border-radius: var(--border-radius-default);
  column-gap: section(12);
  display: inline-flex;
  padding: 0.6em 0.8em;

  &:hover {
    cursor: pointer;
  }

  &.variant {
    @each $variant in $default-variants {
      &-#{$variant} {
        --button-variant: var(--color-#{$variant});
      }
    }
  }

  &.size {
    &-small {
      font-size: 0.8em;
    }

    &-large {
      font-size: 1.2em;
    }
  }

  &.style {
    &-filled {
      background-color: rgb(var(--button-variant));

      &:hover {
        background-color: rgba(var(--button-variant), 0.7);
      }
    }

    &-outlined {
      border: {
        color: rgb(var(--button-variant));
        style: solid;
        width: 1px;
      }

      &:hover {
        background-color: rgb(var(--button-variant));
      }
    }

    &-transparent {
      &:hover {
        background-color: rgba(var(--button-variant), 0.7);
      }
    }
  }
}
