@import "@spacing";

.button {
  display: inline-flex;
  column-gap: spacing(10);
  padding: 0.7em;
  background-color: var(--button-background);
  border: {
    radius: var(--border-radius-default);
    width: 1px;
    color: var(--button-border-color, transparent);
    style: solid;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary {
    &.fill {
      --button-background: rgba(var(--color-variant-primary), 0.9);
      --button-color: rgb(var(--color-background));

      &:hover {
        --button-background: rgba(var(--color-variant-primary), 0.7);
      }
    }

    &.outlined {
      --button-border-color: rgba(var(--color-variant-primary), 0.9);

      &:hover {
        --button-background: rgb(var(--color-variant-primary), 0.9);
        --button-color: rgb(var(--color-background));
      }
    }
  }

  &.transparent {
    &:hover {
      --button-background: rgba(var(--color-variant-primary), 0.9);
      --button-color: rgb(var(--color-background));
    }
  }

  &.size {
    &-small {
      font-size: 0.8em;
    }

    &-large {
      font-size: 1.2em;
    }
  }

  > * {
    color: var(--button-color);
  }
}
