@import "@breakpoints";

.grid {
  display: flex;
  column-gap: calc(var(--spacing, 5rem) / 2);
  align-items: var(--grid-alignment, center);

  @include max($desktop) {
    flex-direction: column;
  }

  &.align {
    &-start {
      --grid-alignment: flex-start;
    }

    &-end {
      --grid-alignment: flex-end;
    }
  }
}
