@import "@functions/section";

.container {
  max-width: min(90vw, var(--size-container-default));
  margin: {
    left: auto;
    right: auto;
  }

  &-wrapper {
    align-items: var(--container-align-items);
    column-gap: var(--container-column-gap, var(--container-gap));
    display: var(--container-display, block);
    flex-direction: var(--container-direction);
    grid-template-columns: var(--container-grid-columns);
    grid-template-rows: var(--container-grid-rows);
    justify-content: var(--container-justify-content);
    justify-items: var(--container-justify-items);
    row-gap: var(--container-row-gap, var(--container-gap));
    text-align: var(--container-text-align);
  }
}
