@import "@spacing";

.layout {
  display: flex;
  flex-direction: column;
  row-gap: spacing(1);
  margin: {
    top: spacing(1);
    bottom: spacing(1);
  }

  .ui-container {
    --container-display: flex;
    --container-direction: column;
    --container-align: center;
    --container-text-align: center;
    --container-row-gap: #{spacing(2)};
  }

  &-content > section:not(:last-child) {
    margin-bottom: spacing(1);
  }
}
