@import "@functions/section";

.layout {
  display: flex;
  flex-direction: column;
  row-gap: section(1);
  margin: {
    bottom: section(1);
    top: section(1);
  }

  .container {
    --container-align: center;
    --container-direction: column;
    --container-display: flex;
    --container-row-gap: #{section(2)};
    --container-text-align: center;
  }

  &-content > section:not(:last-child) {
    margin-bottom: section(1);
  }
}
