@import "@functions/section";

.card {
  background-color: rgb(var(--color-background-contrast-1));
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow-default);
  padding: section(3);

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: section(4);

    &-title-group {
      text-align: left;
    }

    &-title + &-subtitle {
      margin-top: section(16);
    }
  }
}
