@import "@size";

.card {
  background-color: rgb(var(--contrast-1));
  padding: size(4);
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: size(4);

    &-title + &-subtitle {
      margin-top: size(16);
    }

    &-note {
      color: var(--muted);
    }
  }
}
