@import "@size";

.storybook-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(var(--contrast-1));
  box-shadow: var(--shadow);
  padding: size(6) size(4);
  grid-area: header;

  &-logo {
    width: clamp(20px, calc(2vw), 30px);
  }
}
