@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

.icon {
  align-items: center;
  display: inline-flex;
  font-size: 1.25em;
  justify-content: center;
}
