@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;

  &.-uppercase {
    text-transform: uppercase;
  }
}
