@import "@breakpoints";

.cell {
  @for $size from 1 through 12 {
    &.-size-#{$size} {
      flex-basis: calc(100% / (12 / $size));
    }

    &.-lg-size-#{$size} {
      flex-basis: calc(100% / (12 / $size));
    }
  }

  &.-auto {
    flex-basis: auto;
  }

  @include max($desktop) {
    width: 100%;
  }
}
