@import "@functions/section";

.header {
  background-color: rgb(var(--color-background));
  box-shadow: var(--shadow-default);
  display: flex;
  justify-content: space-between;
  padding: section(6) section(4);
  position: sticky;
  top: 0;
  z-index: 2;

  &-logo {
    width: clamp(section(4), 2vw, section(2));
  }
}
