@import "@spacing";

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow);
  padding: spacing(6) spacing(4);
  grid-area: header;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: rgb(var(--body));

  &-logo {
    width: clamp(20px, calc(2vw), 30px);
  }
}
