@import "@size";

.storybook-sidebar {
  z-index: 2;
  box-shadow: var(--shadow);
  grid-area: sidebar;
  padding: {
    top: size(4);
    right: size(6);
    bottom: size(4);
    left: size(6);
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}
