@import "@functions/section";

.table {
  border-collapse: collapse;
  font-size: 0.9em;

  &-caption {
    margin-bottom: section(8);
  }

  &-header {
    background-color: inherit;
    box-shadow: var(--shadow);
    position: sticky;
    z-index: 1;
  }

  &-header-cell {
    padding: section(6) section(4);
    text-align: start;
    text-transform: uppercase;

    &.-prefix {
      width: 0;
    }
  }
}
