@import "@size";

.table {
  border-collapse: collapse;
  font-size: 0.9em;

  &-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(var(--contrast-1));
    box-shadow: var(--shadow);
  }

  &-header-cell {
    text-transform: uppercase;
    text-align: start;
    padding: size(6) size(4);

    &.-prefix {
      width: 0;
    }
  }

  &-row {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(var(--text-color), 0.1);
    }
  }

  &-cell {
    padding: size(6) size(4);
  }
}
